.button {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  font-weight: 400;

  &:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
  }

  &_large_white {
    width: 170px;
    height: 40px;
    border: 2px solid #66C05D;
    border-radius: 40px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
  }

  &_large_green {
    width: 170px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background-color: #66C05D;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
  }

  &_small_green {
    margin-top: 20px;
    width: 130px;
    height: 35px;
    background: #66C05D;
    border-radius: 30px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
  }

  &_large_letter {
    border: none;
    background-size: cover;
    background-color: transparent;
    width: 140px;
    height: 107px;
  }

  &_medium_green {
    width: 170px;
    height: 35px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
  }
}