.logo {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 20%;

  @media screen and(max-width: 1023px) {
    flex-direction: column;
  }

  &__container {
    display: flex;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    @media screen and(max-width: 1023px) {
      margin: 0;
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 0 8%;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #66C05D;
    font-weight: 700;
  }

  &__tel {
    font-size: 16px;
    line-height: 19px;
    margin: 0 6% 0 0;
    font-weight: 400;

    @media screen and(max-width: 1023px) {
      margin: 5% 0 5% 0;
    }
  }
}